USE [master]
GO
/****** Object:  Database [DBMortgage]    Script Date: 28-03-2025 21:18:24 ******/
CREATE DATABASE [DBMortgage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mortgage', FILENAME = N'D:\SQL_Data\Mortgage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mortgage_log', FILENAME = N'E:\SQL_Log\Mortgage_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMortgage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMortgage]
GO
/****** Object:  User [planvisage]    Script Date: 28-03-2025 21:18:26 ******/
CREATE USER [planvisage] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Mortgage]    Script Date: 28-03-2025 21:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mortgage](
	[MortgageId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[MortgageType] [int] NULL,
	[InterestRepayment] [int] NULL,
	[EffectiveStartDate] [datetime] NULL,
	[EffectiveEndDate] [datetime] NULL,
	[TermsInMonths] [int] NULL,
	[CancellationFee] [decimal](18, 2) NULL,
	[EstablishmentFee] [decimal](18, 2) NULL,
	[SchemaIdentifier] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Mortgage__F24DB7CA927DCD87] PRIMARY KEY CLUSTERED 
(
	[MortgageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
